html,
body{
    width: 100%;
    height: 100%;
    background-color:#1E3A5F;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    background-color: #2C3E50;
    border: solid;
    border-color: #F5F5F5;
    border-width: 10px;
    border-radius: 10px;
    
}
.buttons{
    width: 500px;
    height: 550px;
    display: flex;
    
    flex-direction: column;
    gap:10px;
}
.row{
    display: flex;
    width: 100%;
    flex:1;
    gap:10px;
}
.box{
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    flex:1;
    border-radius: 10px;
    background-color: #F5F5F5;
    width: 100px;
    border: solid;
}
#display{
    box-sizing: border-box;
    padding: 15px;
    font-family:sans-serif;
    display: flex;
    flex-direction: column;
    border: solid;
    width: 500px;
    height: 150px;
    background-color: #B6FFC8;
    margin-bottom: 20px;
    font-size: 30px;

}
#top,
#bot{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: end;
    align-items: end;
    box-sizing: border-box;
}
#zero{
    flex:2.12;
}
.orange{
    background-color: orange;
}
.clear{
    background-color: red;
}